@keyframes colors {
   0% {
       color:darkslateblue;
       border-color: darkslateblue;
   }
   50% {
       color: seagreen;
       border-color: seagreen;
   }
   100% {
       color:darkslateblue;
        border-color:darkslateblue;
   }
}


html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    height:100%;

}
.wrapper {
    scroll-behavior: smooth;
}
.headline {
    color: black;
    padding-top: 150px;
    font-family: monospace;
    font-size: 30px;
    text-align : center;
}
.subtitle {
    color: black;
    padding-top: 40px;
    font-family: monospace;
    font-size: 16px;
    text-align : center;
}
.navDiv {
    float: right;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to right, transparent 80%, #0057e6);
}
.loginButtons {
    background-color: #0057e6;
    font-family: monospace;
    font-size: 28px;
    border: none;
    margin-left: 0;
    float: right;
    cursor: pointer;
    outline: none;
    margin-top: 0px;
}
.loginButtons:hover {
    transition: all 550ms, ease;
    background-color: #008900;
    border-bottom-color: darkblue;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
.buttonDiv {
    text-align: center;
    padding-top: 40vh;
}
.launch {
    display: table-cell;
    vertical-align: middle;
    border-radius: 100%;
    border: 3px solid transparent;
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding: 5px;
    scroll-behavior: smooth;
    animation-name: colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    outline: none;
}
.launch:hover {
    color: #313335;
    background-color: lightseagreen;
    transition: all 330ms, ease;
    border: 3px lightseagreen solid;
}
#section2 {
    margin-top: 20vh;

}
.section {
    boder-top: 5px solid cadetblue;
    boder-bottom: 5px solid cadetblue;
    margin-top: 5px;
    height: 100vh;
    background-color: black;
    scroll-behavior: smooth;
}
.itemHeading {
    color: aliceblue;
    text-decoration: underline;
    text-decoration-color: #313335;
    font-family: monospace;
    font-size: 45px;
    text-align: center;
}
.helperTitle {
    color: aqua;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}
.talk {
    color: whitesmoke;
    font-family: monospace;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 25px;
}
.helperImage {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    float: right;
    max-width: 40vw;
    height: auto;
}