@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
@keyframes colors {
   0% {
       color:darkslateblue;
       border-color: aquamarine;
   }
   50% {
       color: #497779;
       border-color: whitesmoke;
   }
   100% {
       color:darkslateblue;
        border-color:aquamarine;
   }
}
.ant-carousel  {
    text-align: center;
    child-align: middle;
    line-height: 40vh;
    margin-right: 10vw;
    margin-left: 0vw;
    background: #3C3F41;
    overflow: hidden;
    width: 80vw;
}
.slick-slide {

    width: 70vw;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    height:100%;


}

.headline {
    color: black;
    padding-top: 50px;
    font-family: Fira Mono;
    font-size: 30px;
    text-align : center;
    animation: 0.8s flipInX ease;
}
.joinButton {
    background-color: #008CBA;
    justify-self: center;
    margin-top: 5vh;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 24px;

}
.joinButton:hover {
    background-color:#008900;
    animation: ease 230ms;
}
.joinDiv {
    z-index: 3;
}
.subtitle {
    color: black;
    padding-top: 40px;
    font-family: Fira Mono;
    font-size: 16px;
    text-align : center;
}
.firstButtonDiv {
    text-align: center;
    padding-top: 10vh;
}
.buttonDiv {
    text-align: center;
    padding-top: 26vh;
}
.launch {
    display: table-cell;
    background-color: #313335;
    vertical-align: middle;
    border-radius: 100%;
    border: 3px solid transparent;
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding: 5px;
    scroll-behavior: smooth;
    animation-name: colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    outline: none;
}
.launch:hover {
    color: #313335;
    background-color: lightseagreen;
    transition: all 330ms, ease;
    border: 3px lightseagreen solid;
}
#section2 {
    margin-top: 16vh;

}
.section {
    margin-top: -5px;
    height: 100vh;
    scroll-behavior: smooth;
}
.itemHeading {
    color: #3C3F41;
    text-decoration: underline;
    text-decoration-color: #595959;
    font-family: Fira Mono;
    font-size: 45px;
    text-align: center;
}

.talk {
    color: darkslategrey;
    font-family: Fira Mono;
    font-size: 14px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 10vw;
}
    .left {
        float: left;
    }
    .right {
        float: right;
    }
.helperImage {
    display: inline;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 15px;
    max-width: 44vw;
    height: auto;
    border-radius: 5px;
}
.carouselWrapper {
    align-content: center;
    margin-left: 10vw;
}
.slideImage {
    width: 50vw;
    float: right;
    height: 50vh;
}
.caption {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 4.5;
    margin-top: 50px;

}