<!-- YOUR MAIN TASKS WILL APPEAR HERE
			TODO
~	
~	
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>WebIDE</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div class="ribbon">
			<button href="">Signup</button>
			<button href="">Login</button>
			<button href="">About</button>
			<button href="">Contact</button>
			<button href="">WebIDE</button>
		</div>
	</body>
	<footer></footer>
	<style>
		button {
			font-family: monospace;
			font-size: 18px;
			outline: none;
			color: black;
			background-color: blue;
			border: none;
			float: right;
			float: top;
		}
		.ribbon {
			border-bottom: black, solid, 3px;
		}

	</style>
</html>