<!-- YOUR MAIN TASKS WILL APPEAR HERE
			TODO
~	Set up a login screen
~	Set up autocomplete
~	Set up password
~	Set up storing of logins w/browsers
~	Set up the signup screen
~	Link the signup screen with the dead link
~	Link the forgot password screen with the 2nd dead link
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>WebIDE</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div class="loginDiv">
			<form>
				<input type="text" placeholder="Username" id=usernameId"">
				<input type="text" placeholder="Password" id="passwordId">
				<p>Don't have an account? Make one <a href="">here</a>.</p>
				<p><a href="">Forgot password?</a></p>
			</form>
		</div> 
	</body>
	<style>
		
	</style>

</html>