<!--YOUR TASKS WILL APPEAR HERE
			TODO
~	Set up the CSS grid form/header/everything else setup.
~	Add bootstrap declaration.
~	Make the bootstrap buttons.
~	Make sure css works.
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
	<p th:text="'Hello, ' + ${name} + '!'" />
	<p class="test">blahhhhh </p>
	<div class="main">
		<form></form><!--The main code writing window.-->
		<form></form> <!--the console   `DONT TOUCH`--><!--main code writing window/console-->
	</div>
	<div class="sidenav">
		<button></button>

	</div>
	<div class="topRibbon">
		
	</div>
	</body>


	<style>

		.test {
			color:blue;
			font-size: 64px;
		}

	</style>
</html>